<html lan="en">
<head>
    <title>My App</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
</head>
    <body>
        <div class="container">
        <h1><%= title %></h1>
            All Actors
    <table class="table">
    
        <% for(var i=0;i<items.data.length;i++) {%>
          <tr>
          
                <td><a href="/api/node-neo4j/node/<%= items.data[i]._id %>" >Id <%= items.data[i]._id %></a> </td>
                <td>Name:<%= items.data[i].name %> </td> 
                <td>Born: <%= items.data[i].born %></h4></td>
                <td><a href="/delete/<%= items.data[i]._id %>">delete</a>|<a href="">update</a></td>
          
          
           </tr>   
          <% } %>
        
            
    </table> 
            
            
            
   
        <form action="/add" method="post">
            <input type="text" name="newItem">
            <input type="submit">

        </form>
            </div>
    </body>
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
            


</html>